*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.parent{
    height: 300px;
    width: 300px;
    background-color: palevioletred;
    border: 2px solid cadetblue;
    margin: auto;
    position: relative;
}

.child{
    height: 100px;
    width: 100px;
    background-color: palegreen;
    border: 2px solid black;
    position: absolute;
    left: 20px;
    top: 50pcx;
}